In [1]:
import pandas as pd
csv_file_path = 'M12.csv'
df = pd.read_csv(csv_file_path)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
print(df)

                         Mine   Equipment    Material  Shift         Operator  \
Date
2023-01-01  Vasanth Coal Mine    Shovel 1  Overburden    Day     Ramesh Patel
2023-01-01  Vasanth Coal Mine     Truck 1        Coal    Day  Aditya Deshmukh
2023-01-02    Reddy Coal Mine    Shovel 1  Overburden  Night      Vijay Kumar
2023-01-02    Reddy Coal Mine     Truck 2        Coal  Night     Priya Sharma
2023-01-05        RP Minerals  Dragline 1  Overburden    Day       Rahul Jain
2023-01-05        RP Minerals     Truck 1        Coal    Day      Ankit Desai

                       Address  Hours_Worked  Target_TPH  Actual_TPH
Date
2023-01-01  221B Baker Street              8        5000        4735
2023-01-01      50 Laxmi Nagar             8         800         725
2023-01-02  144 Golf Club Road             8        5000        4210
2023-01-02           multiline             8         800         855
2023-01-05  G-13 Govt. Complex            10        7000        6320
2023-01-05       B-302 Solaris            10         900        1050

In [2]:
import pandas as pd
csv_file_path = 'M12.csv'
df = pd.read_csv(csv_file_path)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
print(df)

                         Mine   Equipment    Material  Shift         Operator  \
Date
2023-01-01  Vasanth Coal Mine    Shovel 1  Overburden    Day     Ramesh Patel
2023-01-01  Vasanth Coal Mine     Truck 1        Coal    Day  Aditya Deshmukh
2023-01-02    Reddy Coal Mine    Shovel 1  Overburden  Night      Vijay Kumar
2023-01-02    Reddy Coal Mine     Truck 2        Coal  Night     Priya Sharma
2023-01-05        RP Minerals  Dragline 1  Overburden    Day       Rahul Jain
2023-01-05        RP Minerals     Truck 1        Coal    Day      Ankit Desai

                       Address  Hours_Worked  Target_TPH  Actual_TPH
Date
2023-01-01  221B Baker Street              8        5000        4735
2023-01-01      50 Laxmi Nagar             8         800         725
2023-01-02  144 Golf Club Road             8        5000        4210
2023-01-02           multiline             8         800         855
2023-01-05  G-13 Govt. Complex            10        7000        6320
2023-01-05       B-302 Solaris            10         900        1050

In [3]:
import pandas as pd
csv_file_path = 'M9.csv'
df = pd.read_csv(csv_file_path)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
print(df)

                      MineName     Material  NoOfBlasts ExplosivesUsed  \
Date
2023-03-10  Hindustan Zinc Ltd  Zinc/Silver           3         9375kg

            OverburdenRemoved     OreAccessible
Date
2023-03-10  156000 metric ton  32500 metric ton

In [4]:
import pandas as pd
csv_file_path = 'M4.csv'
df = pd.read_csv(csv_file_path)
df.set_index('Date', inplace=True)
print(df)

         LoaderID          Operator  Material  LoadsCompleted AvgLoadTime  \
Date
1-Mar-23    L-101  Rahul Srivastava  Iron Ore              10      15 min
2-Mar-23    L-102  Deepika Padukone  Iron Ore              10      18 min

         TotalLoadTime
Date
1-Mar-23       150 min
2-Mar-23       180 min

In [5]:
import pandas as pd
csv_file_path = 'M1.csv'
df = pd.read_csv(csv_file_path)
df.set_index('Date', inplace=True)
print(df)

            BlockID BlastsDone     ExplosivesUsed OverburdenRemoved  \
Date
13-Feb-23   A1-east    3 blast       4500 kg ANFO        96000 T OB
15-Feb-23  B7-south    2 blast   2100 kg emulsion        45000 T OB

          OreExtracted
Date
13-Feb-23   35800 T ore
15-Feb-23   18250 T ore